@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background-color: black;
    --primary: #bc4123;
    --secondary: #2b3452;
    --third: #000;
    color: aliceblue;

}

body{
min-height: 100vh;
display: flex;
flex-direction: column;
/* background-color: var(--third); */
/* color: var(--primary); */
}

/* navbar */
header nav {
display: flex;
gap: 16px;
align-items: center;
justify-content: center;
width: 100%;
height: 5rem;
margin: 0 auto;
}

header nav h1 {
margin-right: auto;
border-bottom: 3px solid var(--primary);
}

header h2 {
margin: auto;
}

header nav a{
text-decoration: none;
padding: 6px;
border-radius: 4px;
height: 30px;
margin-right: 5px;
}

header nav a.active {
background: var(--primary);
-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

header {
/* border: #bc4123 2px solid; */
border-bottom: var(--primary) 2px solid;
box-shadow: #000 20px 0px;

}

footer{
position: absolute;
bottom: 0;
width: 100%;
height: 3.0rem;
font-size: 75%;
border-top: #bc4123 2px solid;
border-radius: 50%;
text-align: center;
}


main {
width: 100%;
min-height: 500px;
margin: 40px auto;
/* border: #bc4123 2px solid; */
}


/* heartbeat graphics */
@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  